<div id="<%= dom_id item %>">
  <p>
    <strong>List:</strong>
    <%= item.list_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= item.quantity %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= item.completed %>
  </p>

</div>
